body {
 	font-family: 'Lato', sans-serif;
 	color: #747704;
}

header h1 {
	font-size: 50px;
}

header h4 {
	font-size: 27px;
}

header h1 {
	font-weight: 300;
}

header h4 {
	font-weight: 200;
}

h2 {
	color: #747704;
}

hr {
	height: 2px;
}

.page-logo {
	width: 100px;
	margin-top: 15px;
}

.project-icon {
	cursor: default;
}