/* Body Style */
body {
 	font-family: "Lato", sans-serif;
 	color: #747704;
}

/* Header */
h2 {
	color: #747704;
}

header h1 {
	font-size: 50px;
	font-weight: 300;
}

header h4 {
	font-size: 27px;
	font-weight: 250;
}

/* Content */
hr {
	height: 2px;
}

.page-logo {
	width: 100px;
	margin-top: 14px;
}

.portfolio-photo {
	cursor: default;
}